.slider {
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    behavior: smooth;

    .sentinel {
        padding: 0 5px;
        height: 100%;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}