.main {
    height: 100%;
    box-sizing: border-box;

    .header {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        padding: 20px;
    }

    .container {
        box-sizing: border-box;
        flex-shrink: 0;
        padding: 25px 0;
        background-color: var(--white);
        width: 100%;
        height: max-content;
        border-radius: 25px 25px 0 0;
    }

    .icon {
        color: var(--white);
        height: fit-content;
        width: 20px;

        &:nth-of-type(2) {
            justify-self: end;
        }
    }

    .info {
        font-family: var(--font-family-primary);
        color: var(--white);
        margin: 20px 0 5px 0;

        .date {
            font-weight: 700;
            font-size: 24px;
        }

        .qttTasks {
            font-weight: 300;
            font-size: 15px;
        }
    }
}