.main {
    height: 100%;
    box-sizing: border-box;
    .logo-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 200px;
        flex-grow: 1
    }

    .logo {
        width: 200px;
    }

    .logo:hover {
        filter: drop-shadow(0 0 2em #ffffff28);
    }
    
    .container {
        box-sizing: border-box;
        flex-shrink: 0;
        padding: 40px 30px;
        background-color: var(--white);
        width: 100%;
        min-height: calc(100vh - 200px);
        height: fit-content;
        border-radius: 50px 50px 0 0;

        .title{
            color: var(--primary-color);
            font-family: var(--font-family-primary);
            text-align: center;
            margin: 0 0 15px 0;
            font-weight: 600;
        }
        .forgot-password{
            color: var(--grey-2);
            font-weight: 400;
            font-size: 17px;
            width: 100%;
            text-align: right;
        }
        .sign-up{
            color: var(--grey-2);
            font-size: 16px;
            width: 100%;
            text-align: center;
            margin: 30px 0 0 0;
            .link {
                color: var(--primary-color);
                font-weight: 600;
                text-decoration: none;
            }
        }
    }

    .circle{
        content: "";
        background-color: rgba(255, 255, 255, 0.1);
        position: fixed;
        border-radius: 50%;
        z-index: -1;
    }
}

@media (min-width: 769px){
    .main {
        padding: 0 50px;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        .logo-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: fit-content;
            height: fit-content;
            flex-grow: 1
        }
    
        .logo {
            width: 300px;
            height: 100%;
        }
    
        .container {
            width: 45%;
            height: fit-content;
            min-height: fit-content;
            border-radius: 50px;
        }
    }
}

